{# Dywee\CMSBundle\Resources\View\CMS\form.html.twig #}

{% form_theme form 'DyweeCMSBundle:Form:collection_widget.html.twig' %}

{{ form_start(form) }}

{{ form_errors(form) }}
<div class="hide">
    {{ form_widget(form.cheatingTrick) }}
</div>

<div class="spacer"></div>

<div class="nav-tabs">
    <div class="col-md-3 col-xs-5 pull-right">
        <div class="row">
            <div class="col-md-8 col-xs-6">
                {{ form_widget(form.state) }}
            </div>
            <div class="col-md-3 col-xs-6">
                {{ form_widget(form.sauvegarder, {"attr": {"class": "btn-success"}}) }}
            </div>
        </div>
    </div>
    <ul id="descriptions" class="nav nav-tabs">
        <li class="active"><a href="#content" data-toggle="tab"><i class="fa fa-font"></i> Contenu</a></li>
        <li><a href="#seo" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Référencement</a></li>
        <li><a href="#settings" data-toggle="tab"><i class="fa fa-cog"></i> Paramètres</a></li>
        <li><a href="#help" data-toggle="tab"><i class="fa fa-question"></i> Aide</a></li>
    </ul>

    <div class="spacer"></div>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="content">
            <div class="form-group">
                {{ form_label(form.name, "Nom") }}
                {{ form_errors(form.name) }}
                <div class="col-md-9">
                    {{ form_widget(form.name) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_errors(form.pageElements) }}

                <div id="page_elements_container">
                    {{ form_widget(form.pageElements) }}
                </div>

            </div>
            {% if page is defined and page.type == 12 %}
                <div class="col-md-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Galerie musicale associée</span>
                        </div>
                        <div class="panel-body">
                            {% if page.childArguments is not null %}
                                {{ render(controller('DyweeModuleBundle:MusicGallery:show', {id: page.childArguments})) }}
                                <a href="{{ path('musicGallery_update', {id: page.childArguments}) }}" class="btn btn-default btn-lg">Gérer la galerie musicale associée</a>
                            {% else %}
                                <a href="#settings" data-toggle="tab"><i class="fa fa-cog"></i> Renseigner une galerie musicale associée (champs "paramètres")</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="tab-pane fade in" id="seo">
            <div class="form-group">
                {{ form_label(form.metaTitle, "Meta Titre") }}
                {{ form_errors(form.metaTitle) }}
                <div class="col-sm-9">
                        {{ form_widget(form.metaTitle) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.metaDescription, "Meta Description") }}
                {{ form_errors(form.metaDescription) }}
                <div class="col-sm-9">
                        {{ form_widget(form.metaDescription) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.metaKeywords, "Meta Keywords") }}
                {{ form_errors(form.metaKeywords) }}
                <div class="col-sm-9">
                        {{ form_widget(form.metaKeywords) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.seoUrl, "Url") }}
                {{ form_errors(form.seoUrl) }}
                <div class="col-sm-9">
                        {{ form_widget(form.seoUrl) }}
                </div>
            </div>

        </div>
        <div class="tab-pane fade in" id="settings">

            <div class="form-group">
                {{ form_label(form.type, "Type de page") }}
                {{ form_errors(form.type) }}
                <div class="col-md-9">
                    {{ form_widget(form.type) }}
                </div>
            </div>

            <div class="form-group hide">
                {{ form_label(form.childArguments, "Arguments") }}
                {{ form_errors(form.childArguments) }}
                <div class="col-md-9">
                    {{ form_widget(form.childArguments) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.inMenu, {label: "Affichée dans le menu"}) }}
                        </label>
                    </div>
                </div>
            </div>

            <div id="menuSettings">

                <div class="form-group">
                    {{ form_label(form.menuName, "Nom dans le menu") }}
                    {{ form_errors(form.menuName) }}
                    <div class="col-md-9">
                        {{ form_widget(form.menuName) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.menuOrder, "Ordre dans le menu") }}
                    {{ form_errors(form.menuOrder) }}
                    <div class="col-md-9">
                        {{ form_widget(form.menuOrder) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.parent, "Page parente") }}
                {{ form_errors(form.parent) }}
                <div class="col-md-9">
                    {{ form_widget(form.parent) }}
                </div>
            </div>

        </div>

        <div class="tab-pane fade in" id="help">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Aide sur les pages</h2>
                </div>
                <div class="panel-body">
                    <p>Avec Dywee, vous pouvez personnaliser vos pages selon plusieurs critères.</p>
                    <p>Dans l'onglet "paramètres" vous pourrez choisir le type de votre page:</p>
                    <h3>Index</h3>
                    <p>Ce type de page est réservé à la page d'accueil. Il n'y en a qu'une seule et unique par page.</p>
                    <h3>Page</h3>
                    <p>Ce type de page est le plus générique. C'est en fait une page normale, sans particularités spécifiques</p>
                    <h3>Contact</h3>
                    <p>Ce type de page est lui-aussi unique. Le fait de renseigné une page comme étant la page "contact" va générer automatiquement un formulaire de contact.</p>
                    <h3>News</h3>
                    <p>La page de news va faire apparaitre automatiquement les dernières news. Le nombre de news visible sur cette page est paramétrable via le champ "argument" situé juste en dessous du type de page</p>
                    <h3>Calendrier</h3>
                    <p>La page de type calendrier va faire apparaitre les évènements à venir</p>
                    <h3>Magasin</h3>
                    <p>Dans le cadre de site d'e-commerce, la page "magasin" fait office de page d'accueil pour vos produits</p>
                    <h4>Blog</h4>
                    <p>C'est typiquement la page d'entrée pour vos articles de blog</p>
                    <h4>Formulaire</h4>
                    <p>Cette page affichera le formulaire défini dans le champ "argument"</p>
                    <h4>FAQ</h4>
                    <p>Cette page spécifique servira de point d'entrée pour afficher toutes les questions/réponses définies dans le module FAQ</p>
                    <h4>Gallerie photo</h4>
                    <p>Cette page servira à afficher l'album photo paramétré dans le champ "argument"</p>
                    <h4>Gallerie vidéo</h4>
                    <p>Cette page servira à afficher la gallerie vidéo paramétrée dans le champ "argument"</p>
                    <h4>Gallerie musique</h4>
                    <p>Cette page servira à afficher la gallerie musicale définie dans le champs "argument"</p>
                </div>
            </div>



        </div>
    </div>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}

<script>
    $("#dyweeModal").show(true);
</script>