{# Dywee\CMSBundle\Resources\View\CMS\edit.html.twig #}

{%  extends "DyweeCMSBundle::admin.html.twig" %}

{% block title %}
    Ajout d'une page {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><i class="fa fa-pencil"></i> Ajout d'une page</li>
{% endblock %}

{% block body %}
    <div class="row"><div class="col-md-12">

        <h1>Ajout d'une page</h1>

        {%  include "DyweeCMSBundle:CMS:form.html.twig" %}

        </div></div>

{% endblock %}

{% block footerJavascript %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/dyweecms/js/form.js') }}"></script>
    <script src="{{ asset('bundles/dyweecore/js/jquery-ui.min.js') }}"></script>
{% endblock %}