{# Dywee\CMSBundle\Resources\View\CMS\form.html.twig #}

{% set langDropDown %}
<div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" />
        <i class="fa fa-caret-down fa-caret-down-btn-correct"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="javascript:void(0)" onclick="showLang(1)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/fr.png') }}" width="18" /> Français
            </a>
        </li>
        <li><a href="javascript:void(0)" onclick="showLang(2)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/en.png') }}" width="18" /> Anglais
            </a>
        </li>
        <li><a href="javascript:void(0)" onclick="showLang(3)">
                <img src="{{ asset('bundles/dyweecore/images/flags/48/nl.png') }}" width="18" /> Néerlandais
            </a>
        </li>
    </ul>
</div>
{% endset %}

{{ form_start(form, {"attr": {"class": "form-horizontal"}}) }}

{{ form_errors(form) }}

<div class="col-md-3 col-xs-5 pull-right">
    <div class="row">
        <div class="col-md-8 col-xs-6">
            {{ form_widget(form.state) }}
        </div>
        <div class="col-md-3 col-xs-6">
            {{ form_widget(form.sauvegarder, {"attr": {"class": "btn btn-success"}}) }}
        </div>
    </div>
</div>

<ul id="descriptions" class="nav nav-tabs">
    <li class="active"><a href="#content" data-toggle="tab"><i class="fa fa-font"></i> Contenu</a></li>
    <li><a href="#seo" data-toggle="tab"><i class="fa fa-bar-chart-o"></i> Référencement</a></li>
    <li><a href="#settings" data-toggle="tab"><i class="fa fa-cog"></i> Paramètres</a></li>
    <li><a href="#help" data-toggle="tab"><i class="fa fa-question"></i> Aide</a></li>
</ul>

<div class="spacer"></div>

<div class="tab-content">
    <div class="tab-pane fade in active" id="content">
        <div class="form-group">
            {{ form_label(form.name, "Nom", {"label_attr": {"class": "control-label col-sm-2"}}) }}
            {{ form_errors(form.name) }}
            <div class="col-md-9">
                {{ form_widget(form.name) }}
            </div>
        </div>

        <div class="form-group">
                {{ form_errors(form.content) }}
                <div class="col-md-11">
                    {{ form_widget(form.content) }}
                </div>
        </div>
        {% if page is defined and page.type == 12 %}
            <div class="col-md-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Galerie musicale associée</span>
                    </div>
                    <div class="panel-body">
                        {% if page.childArguments is not null %}
                            {% render(controller('DyweeModuleBundle:MusicGallery:show', {id: page.childArguments})) %}
                            <a href="{{ path('dywee_musicGallery_update', {id: page.childArguments}) }}" class="btn btn-default btn-lg">Gérer la galerie musicale associée</a>
                        {% else %}
                            <a href="#settings" data-toggle="tab"><i class="fa fa-cog"></i> Renseigner une galerie musicale associée (champs "paramètres")</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="tab-pane fade in" id="seo">
        <div class="form-group">
            {{ form_label(form.seo.metaTitle, "Meta Titre") }}
            {{ form_errors(form.seo.metaTitle) }}
            <div class="col-sm-9">
                    {{ form_widget(form.seo.metaTitle) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.seo.metaDescription, "Meta Description") }}
            {{ form_errors(form.seo.metaDescription) }}
            <div class="col-sm-9">
                    {{ form_widget(form.seo.metaDescription) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.seo.metaKeywords, "Meta Keywords") }}
            {{ form_errors(form.seo.metaKeywords) }}
            <div class="col-sm-9">
                    {{ form_widget(form.seo.metaKeywords) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.seo.seoUrl, "Url") }}
            {{ form_errors(form.seo.seoUrl) }}
            <div class="col-sm-9">
                    {{ form_widget(form.seo.seoUrl) }}
            </div>
        </div>

    </div>
    <div class="tab-pane fade in" id="settings">

        <div class="form-group">
            {{ form_label(form.type, "Type de page") }}
            {{ form_errors(form.type) }}
            <div class="col-md-9">
                {{ form_widget(form.type) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.childArguments, "Arguments") }}
            {{ form_errors(form.childArguments) }}
            <div class="col-md-9">
                {{ form_widget(form.childArguments) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.inMenu, {label: "Affichée dans le menu"}) }}
                    </label>
                </div>
            </div>
        </div>

        <div id="menuSettings">

            <div class="form-group">
                {{ form_label(form.menuName, "Nom dans le menu") }}
                {{ form_errors(form.menuName) }}
                <div class="col-md-9">
                    {{ form_widget(form.menuName) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.menuOrder, "Ordre dans le menu") }}
                {{ form_errors(form.menuOrder) }}
                <div class="col-md-9">
                    {{ form_widget(form.menuOrder) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.parent, "Page parente") }}
            {{ form_errors(form.parent) }}
            <div class="col-md-9">
                {{ form_widget(form.parent) }}
            </div>
        </div>

    </div>

    <div class="tab-pane fade in" id="help">
        <h2>Aide sur les pages</h2>

        <p>Avec Dywee, vous pouvez personnaliser vos pages selon plusieurs critères.</p>
        <p>Dans l'onglet "paramètres" vous pourrez choisir le type de votre page:</p>
        <h3>Index</h3>
        <p>Ce type de page est réservé à la page d'accueil. Il n'y en a qu'une seule et unique par page.</p>
        <h3>Page</h3>
        <p>Ce type de page est le plus générique. C'est en fait une page normale, sans particularités spécifiques</p>
        <h3>Contact</h3>
        <p>Ce type de page est lui-aussi unique. Le fait de renseigné une page comme étant la page "contact" va générer automatiquement un formulaire de contact.</p>
        <h3>News</h3>
        <p>La page de news va faire apparaitre automatiquement les dernières news. Le nombre de news visible sur cette page est paramétrable via le champ "argument" situé juste en dessous du type de page</p>
        <h3>Calendrier</h3>
        <p>La page de type calendrier va faire apparaitre les évènements à venir</p>
        <h3>Magasin</h3>
        <p>Dans le cadre de site d'e-commerce, la page "magasin" fait office de page d'accueil pour vos produits</p>
        <h4>Blog</h4>
        <p>C'est typiquement la page d'entrée pour vos articles de blog</p>
        <h4>Formulaire</h4>
        <p>Cette page affichera le formulaire défini dans le champ "argument"</p>
        <h4>FAQ</h4>
        <p>Cette page spécifique servira de point d'entrée pour afficher toutes les questions/réponses définies dans le module FAQ</p>
        <h4>Gallerie photo</h4>
        <p>Cette page servira à afficher l'album photo paramétré dans le champ "argument"</p>
        <h4>Gallerie vidéo</h4>
        <p>Cette page servira à afficher la gallerie vidéo paramétrée dans le champ "argument"</p>
        <h4>Gallerie musique</h4>
        <p>Cette page servira à afficher la gallerie musicale définie dans le champs "argument"</p>
    </div>
</div>

{{ form_rest(form) }}

{{ form_end(form) }}



<script>
    $(document).ready(function()
    {
        function showLang(idLang){
            console.log('changement langue');
            $("[aria-translatable='true'][data-idLang != '"+idLang+"']").addClass("hide");
            $("[data-idLang = '"+idLang+"']").removeClass('hide');
        }

        if(!$("#dywee_cmsbundle_page_inMenu").attr("checked"))
            $("#menuSettings").attr('style', 'display: none');


        $("#dywee_cmsbundle_page_inMenu").on('change', function()
        {
            $("#menuSettings").slideToggle('slow');
        });

    })

</script>

{% block footerJavascript %}
    {# Voici le script en question : #}
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#dywee_cmsbundle_page_pageElements');

            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>');
            $container.append($addLink);

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                addCategory($container);
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addCategory($container);
            } else {
                // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }

            // La fonction qui ajoute un formulaire Categorie
            function addCategory($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                        .replace(/__name__/g, index));

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });
    </script>
{% endblock %}