{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        {{ form_errors(form) }}
        <table {{ block('widget_container_attributes') }} class="table table-stripped">
            <thead>
            <tr>
                <td>Label</td>
                <td>Type de champ</td>
                <td>Champ requis</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody id="formElementsContainer">
                {% for rows in form %}
                    <tr>
                        <td>{{ form_widget(rows.label) }}</td>
                        {% if rows.type.vars.value == 'select' or rows.type.vars.value == 'checkbox' or rows.type.vars.value == 'radio' %}
                            {% set class = '' %}
                        {% else %}
                            {% set class = 'hidden' %}
                        {% endif %}
                        <td>{{ form_widget(rows.type) }} {{ form_widget(rows.possibleValuesText, { 'attr': { 'class': class }}) }}</td>
                        <td>{{ form_widget(rows.required) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {{ form_rest(form) }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
    {% spaceless %}
        <tr>
            <td>{{ form_widget(prototype.label) }}</td>
            <td>{{ form_widget(prototype.type) }} {{ form_widget(prototype.possibleValuesText) }}</td>
            <td>{{ form_widget(prototype.required) }}</td>
        </tr>
    {% endspaceless %}
{% endblock collection_item_widget %}